<!DOCTYPE html>
<html class="login-alone">
<head>
    <title>Client注册</title>
    <meta name="keywords" content="Client注册"/>
    <meta name="description" content="Client注册"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/screen.css?v=3.9" media="screen, projection" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/base.css?v=3.9">
    <link rel="stylesheet" type="text/css" href="css/login.css?v=3.9">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/ipconfig.js"></script>

</head>
<body>
<div class="logina-logo" style="height: 55px">
    <div>
        <h1 style="font-size: 40px">Client注册</h1>
    </div>
</div>
<br>
<br>
<br>
<div class="logina-main main clearfix">
    <div class="tab-con">
        <form id="form-login">
            <div id='login-error' class="error-tip"></div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <form>
                        <p>ClientName：<label><input id="clientname" style="margin-left: 220%" type="text" name=""
                                                    required="required" placeholder="请输入ClientName"></label></p>

                        <p>重定向URl：<label><input id="redirecturi" type="text" style="margin-left: 220%" name=""
                                                required="required" placeholder="请输入重定向URL"></label></p>

                        <p>描述：<label><input id="description" style="margin-left: 220%" type="text" name=""
                                            required="required" placeholder="请输入client描述"></label></p>

                        <input type="button" id="clientRegister" style="margin-left: 60%" value="注册">
                    </form>
                </tr>

                </tbody>
            </table>
            <input type="hidden" name="refer" value="site/">
        </form>
    </div>
    <div class="reg" style="margin-top: 10%">
        <p>欢迎注册<br>1024只喵管理系统</p>

    </div>
</div>
<div id="footer">
    <div class="copyright">
        <p>2020 © thoughtworks rights reserved | 思特沃克（西安）有限公司, <a href="https://www.thoughtworks.com/cn//"
                                                                  target="_blank"> thoughtworks</a></p>
    </div>
</div>
</body>

</html>
