<!DOCTYPE html>
<html class="login-alone">
<head>
    <title>1024只喵管理系统</title>
    <meta name="keywords" content="1024只喵管理系统"/>
    <meta name="description" content="1024只喵管理系统"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/screen.css?v=3.9" media="screen, projection" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/base.css?v=3.9">
    <link rel="stylesheet" type="text/css" href="css/login.css?v=3.9">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/ipconfig.js"></script>
</head>
<body>

<div class="logina-logo" style="height: 55px">
    <div>
        <h1 style="font-size: 40px">1024只喵管理系统</h1>
    </div>
</div>
<br>
<br>
<br>
<div class="logina-main main clearfix">

    <div class="tab-con">
        <a href="http://localhost:8080/oauth2.0/authorizePage?redirectUri=http%3A%2F%2Flocalhost%3A8080%2Foauth2.0%2Fauthorize%3Fclient_id%3D057ILIhKGv6rnKNsB68aEHfb%26scope%3Dbasic%26response_type%3Dcode%26state%3DAB1357%26redirect_uri%3Dhttp%3A%2F%2Flocalhost%3A8080%2FgetAuthorizationCode.html&client_id=057ILIhKGv6rnKNsB68aEHfb&scope=basic"><img
                src="pic/1.png " id="miaomiao" style="margin-left:10%" width='500' height='300'></a>

    </div>
    <div class="reg">
        <p>
            <button class="btn btn-primary btn-outline  " id="eat">吃鱼</button>
        </p>
        <p>欢迎访问 <br>1024只喵管理系统</p>

    </div>
</div>
<div id="footer">
    <div class="copyright">
        <p>2020 © thoughtworks rights reserved | 思特沃克（西安）有限公司, <a href="https://www.thoughtworks.com/cn//"
                                                                  target="_blank"> thoughtworks</a></p>
    </div>
</div>
</body>
</html>
